body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/img/login2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
